#labels {
    font-size: 14pt;
}

input[text=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 100%;
    background-color: rgb(10, 132, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    transform-origin: top left;
}

input[type=submit]:hover {
    background-color: rgb(54, 83, 179);
}

form {
    text-align: center;
    font: Courier;
}

#check {
    padding: 5px;
    padding-top: 8px;
}

#button {
    padding: 2.5px;
}

#slide {
    padding: 13px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 18px;
}

div input.slider {
    -webkit-appearance: none; 
    width: 100%; 
    background: darkgrey;
    border-radius: 5px; 
    height: 15px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

div input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(130, 114, 138);
    cursor: pointer;
}

div input.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.input_line {
    fill: none;
    stroke: rgb(98, 121, 107)
}

.title {
    float: left; 
    padding-left: 30px; 
    font-size: 150%; 
    text-align: left;
}

.col select {
    float: right; 
    height: 30px; 
    width: 100%;
}

#chart {
    display: block;
    margin: auto;
}